.hero {
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
}

.secondary-content {
    color: #024e76;
    text-align: left;
    width: 80%;
    margin: auto;

}
.secondary-content p {
    margin-bottom: 20px 0;
    font-size: 16px;
    line-height: 1.5;
}

.secondary-content h3 {
    margin-bottom: 20px;
    font-size: 25px;
    margin: 20px 0;
}

.secondary-content ul {
    margin: 15px 20px;
}

.secondary-content li {
    color:#39a6b2;
    margin: 10px 0;
}