* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* This controls every thing in the body selector for out HTML code */
    font-family: Helvetica, Arial, sans-serif;
    color: #39a6b2;
}

header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #fce138;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

section {
    padding: 60px;
}

.hero {
    background-image: url("../images/hero-bg.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-form {
    padding: 20px;
    width: 500px;
    color: #024e76;
    background-color: #fce138;
    border: solid 3px #024e76;
    position: absolute;
    right: 140px;
    bottom: 120px;

}

.hero-form h3 {
    margin: 0;
    font-size: 24px;
}
.hero-form p {
    margin: 5px 0 15px 0;
    font-size: 16px;
}

.hero-form-box {
    width: 100%;
    height: 30px;
    border: solid 1px #024e76;
    padding: 7px 15px;
    margin-bottom: 15px;
    font-size: 16px;
}
.hero-form button {
    width: 125px;
    height: 40px;
    color: #fce138;
    background-color: #024e76;
    font-size: 15px;
    padding:10px 20px;
    border: none;
}

.section-title {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    display: inline-block;
    
}

.border-color-main {
    border-color: #fce138;
}

.border-color-secondary {
    border-color: #39a6b2;
}

.intro {
    text-align: center;
}

.intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    display: inline-block;
    margin: 0 auto;
}

.steps {
    background-color: #fce138;
    text-align: center;
}

.steps h3 {
    color: #024e76;
    font-size: 40px;

}

.steps p {
    color:#39a6b2;
    font-size: 22px;
    margin-bottom: 65px;
}

.steps span {
    font-size: 30px;
}

.steps img {
    width: 15%;
    margin: 10px 0;
}

.trainers {
    text-align: center;
    margin-top: 50px;
}

.trainers-box {
    background-color: #024e76;
    width: 90%;
    height: 400px;
    color: #fce138;
    display: inline-block;
    margin: 20px 0;
    position: relative;
}

.trainers-img {
    width: 400px;
    margin: 0;
    position: relative;
}

.float-r {
    float: right;
}

.float-l {
    float: left;
}

.trainers-left {
    background-color: none;
    text-align: left;
    position: absolute;
    left: 450px;
    margin: 35px 20px;
    float: right;
}

.trainers-right {
    text-align: right;
    margin: 35px 20px;
    position: absolute;
    right: 450px;
    float: left;
}

.trainers h3 {
    font-size: 40px;
    margin-bottom: 20px;
}
.trainers h4 {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: lighter;
}

.trainers p {
    font-size: 22px;
}

.reach-out {
    color: #fce138;
    background-color: #024e76;
    text-align: center;
    height: 650px;
}

.color-yellow {
    color: #fce138;
}

.reach-out div div {
    color: white;
    text-align: left;
    float: right;
    padding: 20px;
    vertical-align: top;
    display: inline-block;
    font-size: 23px;
}

 .reach-out div div address {
     font-style: normal;
 }

.reach-out iframe {
    float: left;
    position: absolute;
    left: 200px;
}

.reach-out h3 {
    font-size: 35px;
    color: #fce138;
}

.margin-30 {
    margin-bottom: 30px;
}


footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024e76;
}